/* Fonts:  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@550&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
}

body{
  
  background-color: #0e021f;
}


nav{
  margin-top: 1em;
  margin-right: 3em;
  margin-left: 3em;
}

nav a{
  text-decoration: none;
  font-family: 'Allerta Stencil';
  color: #f3e7ff;
  font-size: 0.8em;
  font-weight: 100;
  margin: 2.5em;
}

nav img{
  max-width: 2em;
  cursor: pointer;
}

.navright{
  float: right;
  padding: 0.5em 0em;
  
}

.navright * {
  box-sizing: border-box;
  transition: all .35s ease;
}


.navright a {
  padding: .5em .8em;
  
  position: relative;
  text-decoration: none;
  font-size: 0.8em;
}

.navright a::before,
.navright a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navright a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #684592;
  border-right: 3px solid #452a65;
  transform: translate(-100%, 50%);
}

.navright a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #452a65;
  border-left: 3px solid #684592;
  transform: translate(100%, -50%)
}

.navright a:hover:before,
.navright a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}


  .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .heading .first{
    color: #bda4dc;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 8.7vw;
    font-weight: 700;
    text-shadow: #bda4dc38 3.5px 2px 2px;
  }

  .heading .first_more{
    color: #bda4dc0c;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 8.7vw;
    font-weight: 700;
    text-shadow: #bda4dc37 3.5px 2px 2px;
    position: absolute;
    top: 0.65em;
    z-index: -1;
  }

  .heading .sec{
    color: #bda4dc;
    font-family: 'lato';
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 0.5em;
  }

  #contact-form {
    width: 500px;
    margin: 3em auto;
    padding: 20px;
    /* border: 1px solid rgba(204, 204, 204, 0.272); */
    /* background-image: linear-gradient(to right, #0e021f, #381e5dc0, #0e021f ); */
    border-radius: 10px;
  }
  
  #contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #bda4dc;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 100;
    font-size: 1em;
  }
  
  #contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px;
    border-radius: 10px;
  }
  
  #contact-form textarea{
    height: 12em;
  }

  #contact-form input[type="submit"]{
    background-color: #cfc2df;
    width: 6em;
    padding: 0.4em;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: 'lato';
    font-weight: 700;
    color: #0e021f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  #contact-form input[type="submit"]:hover{
    color: #cfc2df;
    background-color: #0e021f;
    scale: 1.2;
    letter-spacing: 1.1;
    transition: all 0.3s ease-in-out;
  }
 

  #main-foot{
    display: flex;
    justify-content: space-around;
    background-color: #d2c9de27;
    margin-top: 8em;
    
  }
  
  .about-foot{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .heading-foot{
    font-family: 'lato';
    color:#a195ac;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em;
    font-weight: 550;
  }
  
  #foot-subhead{
    font-family: 'Source sans pro';
    color: #f3e7ff;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: 400;
  }
  
  .link, .info{
    font-family: 'Source sans pro';
    color: #f3e7ff;
    padding: 0.5em;
    font-size: 0.9em;
    text-align: center;
    font-weight: 400;
  }
  
  .link:hover{
    text-decoration: underline;
  }
  
  .about-foot a{
    margin-top: 0.5em;
    color: #b09ac6;
    text-decoration: none;
  }
  
  .footer-bottom{
    display: flex;
    background-color: #d2c9de27;
    justify-content: center;
    
  }
  
  .bottom{
    font-family: 'lato';
    color:#6a5480;
    font-size: 0.9em;
    margin-top: 1em;
    font-weight: 550;
    margin-bottom: 1em;
  }


  

/* Media queries: */

@media only screen and (min-width: 686px) {

  .hamburger{
    display: none;
  }

  #follow-socials{
    display: none;
  }

}


  @media only screen and (max-width: 686px) {

    nav{
      display: flex;
      justify-content: space-around;
      
    }
   
  
    .navright{
      display: flex;
      flex-direction: column;
      float: none;
      position: absolute;
      background-color: #0e021f  ;
      align-items: center;
      width: 100vw;
      top: 0em;
      transition: transform 0.3s ease-in-out;
      position: fixed;
    }
  
    .navgo{
      
      transform: translate(0px, -400px);
      position: fixed;
    }
  
  
    .logo{
      position: absolute;
      left: 0.7em;
    }

    .hamburger{
        display: flex;
        position: fixed;
      }
    
      .ham{
        width: 1.9em;
        position: absolute;
        right: 1em;
        position: fixed;
      }
      
      .cross{
        width: 2.1em;
        position: absolute;
        right: 1em;
        position: fixed;
      }

      .heading{
        font-size: 10px;
        text-align: left;
        margin-top: 6em;
        align-items: center;
        justify-content: center;
      }

      #contact-form{
        font-size: 14px;
        width: 300px;
      }

      #main-foot{
        font-size: 8px;
        margin-top: 12em;
        /* padding: 0em; */
      }
    
    
      #foot-subhead{
        /* font-size: 5px; */
        width: 9em;
      }
    
      .bottom{
        font-size: 10px;
      }

      .heading .first_more{
        
        position: absolute;
        top: 2.65em;
      }

      .heading .sec{
        font-size: 13px;
      }

      #follow-socials {
        text-align: center;
        color: #d6cde3;
        background-color: #d5ccdf17;
        padding: 2em;
        margin-top: 4em;
        margin-bottom: 0em;
        /* border-radius: 10px; */
        /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); */
      }
      
      #follow-socials h2 {
        font-size: 4vw;
        font-family: 'lato', sans-serif;
      }
      
      .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5em;
      }
      
      .social-links a {
        display: inline-block;
        font-size: 5.6vw;
        margin: 0 10px;
        color: #a193b9;
        transition: all 0.3s;
      }
      
      .social-links a:hover {
        color: #fff;
        background-color: #0e021f;
        border-radius: 50%;
        padding: 10px;
      }
  }